@charset "UTF-8";
/*-------------------
変数
---------------------*/
/*-------------------
温泉
---------------------*/
.spring_bg {
  background-image: url("../img/spring/spring7.jpg");
}

.spring_list {
  border-top: 1px solid #000;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.spring_list .spring_title {
  width: 20%;
  border-bottom: 1px solid #000;
  padding: 20px 0;
  -moz-text-align-last: justify;
       text-align-last: justify;
}
.spring_list .spring_text {
  width: 80%;
  border-bottom: 1px solid #000;
  padding: 20px 0 20px 40px;
}

.facility_wrap {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  width: 90%;
  margin: 100px auto;
  border-radius: 30px;
  padding: 80px;
}
.facility_wrap .facility {
  font-size: 1.5rem;
  font-weight: 300;
}
.facility_wrap .spring_list .spring_title {
  width: 20%;
  -moz-text-align-last: left;
       text-align-last: left;
}
.facility_wrap .spring_list .spring_text {
  width: 80%;
}

/*-------------------
環境
---------------------*/
.environment_bg {
  background-image: url("../img/environment/environment1.jpeg");
}

/*-------------------
館内
---------------------*/
.facility_bg {
  background-image: url("../img/facility/facility1.jpeg");
}

.menu {
  width: 85%;
  margin: 0 auto;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transition: 0.3s;
}
.menu:hover {
  background-color: #fff;
}
.menu .menu_accordion {
  padding: 30px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .menu_accordion .menu_accordion_txt {
  font-size: 1.5rem;
}
.menu .menu_accordion .menu_accordion_btn {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  position: relative;
}
.menu .menu_accordion .menu_accordion_btn::before, .menu .menu_accordion .menu_accordion_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  transition: 0.5s;
  width: 20px;
  height: 1px;
}
.menu .menu_accordion .menu_accordion_btn::after {
  transform: rotate(-90deg);
  left: 15px;
}
.menu .menu_accordion .menu_accordion_btn.active::after {
  transform: rotate(0deg);
}
.menu .menu_wrap {
  background-color: #fff;
  padding: 30px;
  display: none;
}
.menu .menu_wrap .menu_inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.menu .menu_wrap .menu_inner .menu_list_wrap {
  width: calc(50% - 10px);
}
.menu .menu_wrap .menu_inner .menu_list_wrap .menu_list {
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.menu .menu_wrap .menu_inner .menu_list_wrap .menu_item {
  background-color: #eee;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
.menu .menu_wrap .menu_remarks {
  margin-bottom: 5px;
}

.sec_wrap.massage_wrap {
  flex-direction: column;
}
.sec_wrap.massage_wrap .massage_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.sec_wrap.massage_wrap .massage_inner .sec_text_wrap {
  margin-right: 0;
  margin-left: 40px;
}

/*-------------------
食事
---------------------*/
.meal_bg {
  background-image: url("../img/meal/meal2.jpeg");
}

.sec_meal_wrap {
  flex-direction: column;
}
.sec_meal_wrap .sec_meal_inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec_meal_wrap .item_wrap {
  padding-top: 140px;
}
.sec_meal_wrap:nth-child(even) .sec_meal_inner {
  flex-direction: row-reverse;
}

.page_visual {
  z-index: 1;
  background-position: center;
  background-size: cover;
  height: 600px;
  position: relative;
}
.page_visual .visual_inner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
}
.page_visual .visual_title {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 10px;
  writing-mode: vertical-rl;
  margin: 0 auto;
  text-shadow: 3px 3px 3px #555;
}

/*-------------------
利用案内･料金･アクセス
---------------------*/
.section_title {
  font-size: 1.75rem;
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 2px;
}

.guidance_bg {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  width: 90%;
  margin: 0 auto;
  border-radius: 30px;
  padding: 80px;
}
.guidance_bg .news_wrap {
  background-color: transparent;
  width: 100%;
  padding: 0;
}

.guidance_top {
  margin-bottom: 80px;
  text-align: center;
}
.guidance_top .guidance_title {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 50px;
}
.guidance_top .today {
  font-size: 1.5rem;
}

.business {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}
.business .business_left {
  width: 30%;
}
.business .business_left .business_place {
  font-size: 1.25rem;
  padding-bottom: 10px;
  margin: 40px 0 10px;
  letter-spacing: 2px;
  border-bottom: 1px solid #000;
}
.business .business_left .business_hours {
  letter-spacing: 2px;
}
.business .business_right {
  width: 60%;
  position: relative;
}
.business .business_right .calendar_wrap {
  margin-bottom: 20px;
}
.business .business_right .calendar_wrap .month {
  width: 60%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto 20px;
}
.business .business_right .calendar_wrap .month .fas {
  font-size: 2rem;
  cursor: pointer;
}
.business .business_right .calendar_wrap .month .year_month {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
.business .business_right .calendar_wrap .month .date_txt {
  font-size: 1.6rem;
}
.business .business_right .calendar_wrap .weekdays {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #E4EDEA;
  background-color: #fff;
  /*前後月の日付*/
}
.business .business_right .calendar_wrap .weekdays thead tr {
  background-color: #FBFBFB;
  /*日曜日*/
  /*土曜日*/
}
.business .business_right .calendar_wrap .weekdays thead tr .week {
  font-size: 1rem;
  font-weight: 300;
  padding: 10px 0;
  border-right: 1px solid #E4EDEA;
  border-bottom: 1px solid #E4EDEA;
}
.business .business_right .calendar_wrap .weekdays thead tr .week:first-child {
  color: #EC4242;
}
.business .business_right .calendar_wrap .weekdays thead tr .week:last-child {
  color: #8ECCF2;
}
.business .business_right .calendar_wrap .weekdays .day {
  text-align: right;
  padding: 0.5em;
  height: 4.5em;
  vertical-align: baseline;
  border-right: 1px solid #E4EDEA;
  border-bottom: 1px solid #E4EDEA;
}
.business .business_right .calendar_wrap .weekdays .day.disabled {
  color: #ccc;
}
.business .business_right .calendar_wrap .weekdays .today {
  background-color: #FFFFCC;
}
.business .business_right .holiday {
  letter-spacing: 2px;
  margin-right: 50px;
  display: block;
  margin-right: 0;
  position: relative;
  text-align: right;
}
.business .business_right .holiday::before {
  content: "";
  position: absolute;
  top: 0;
  right: 60px;
  width: 20px;
  height: 20px;
}
.business .business_right .holiday::before {
  background-color: #FFF0F5;
}

.price_wrap {
  margin-bottom: 230px;
}
.price_wrap .price_table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #000;
}
.price_wrap .price_table.pc {
  display: table;
}
.price_wrap .price_table.sp {
  display: none;
}
.price_wrap .price_table th, .price_wrap .price_table td {
  width: 25%;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
.price_wrap .price_table th:last-child, .price_wrap .price_table td:last-child {
  border-right: none;
}
.price_wrap .price_table th {
  background-color: #ccc;
  font-weight: 300;
}
.price_wrap .price_table th span {
  font-size: 0.875rem;
}
.price_wrap .price_table td {
  background-color: #fff;
}
.price_wrap .price_remarks {
  margin-top: 10px;
  font-size: 0.75rem;
}

.access_wrap .access_info_wrap {
  display: flex;
  justify-content: space-between;
}
.access_wrap .access_info_wrap .access_info_inner {
  width: 48%;
}
.access_wrap .access_info_wrap .access_info_inner .access_guide_ttl {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.access_wrap .access_info_wrap .access_info_inner .access_guide_ttl:nth-of-type(2) {
  margin-top: 30px;
}
.access_wrap .access_info_wrap .access_info_inner .access_guide_ttl .access_img {
  width: 30px;
  margin-right: 5px;
}
.access_wrap .access_info_wrap .access_info_inner .access_remarks {
  font-size: 0.75rem;
  margin-top: 20px;
}
.access_wrap iframe {
  width: 100%;
  height: 750px;
  margin-bottom: 60px;
}

/*-------------------
採用情報
---------------------*/
.recruit {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  border-radius: 30px;
  padding: 80px;
  width: 60%;
}
.recruit .recruit_title {
  font-size: 2.25rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 70px;
}
.recruit .instructor_wrap {
  margin-bottom: 100px;
}
.recruit .instructor_wrap .instructor_ttl {
  writing-mode: vertical-rl;
  line-height: 3;
  margin: 0 auto;
  font-size: 1.25rem;
  margin-bottom: 100px;
  height: 200px;
}
.recruit .instructor_wrap .instructor_txt {
  margin-bottom: 15px;
  line-height: 2;
  font-size: 0.9375rem;
}
.recruit .application_method {
  text-align: center;
}
.recruit .application_method .method_title {
  font-size: 2rem;
  margin-bottom: 30px;
}
.recruit .application_method .method_text {
  line-height: 2;
  font-size: 0.875rem;
  padding-bottom: 20px;
}
.recruit .application_method .list_btn {
  margin-right: auto;
  margin-left: auto;
}

/*-------------------
お問い合わせ
---------------------*/
.contact {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  padding: 50px;
  width: 70%;
  margin: 0 auto;
}
.contact .contact_title {
  text-align: center;
  font-weight: 300;
  font-size: 2.125rem;
  margin-bottom: 80px;
}
.contact .contact_text {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.contact .text_wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.contact .text_wrap .contact_sub_text {
  font-size: 0.8125rem;
}
.contact .radio_wrapper {
  display: flex;
}
.contact .radio_wrapper .radio_label {
  margin-right: 10px;
  background-color: #eee;
  padding: 1em 3em 1em 4em;
  cursor: pointer;
  position: relative;
}
.contact .radio_wrapper .radio_label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  border: 1px solid #000;
  border-radius: 50%;
}
.contact .radio_wrapper .radio_label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 18.5px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
}
.contact .radio_wrapper .radio_btn {
  display: none;
}
.contact .radio_wrapper .radio_btn:checked + .radio_label::after {
  opacity: 1;
}
.contact .radio_wrapper .radio_btn:checked + .radio_label {
  background-color: #ccc;
}
.contact .contact_label {
  margin: 20px 0 10px;
  display: block;
}
.contact .contact_label .mandatory {
  color: #EA835A;
  vertical-align: super;
  font-size: 1.25rem;
}
.contact .contact_form {
  display: block;
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  padding: 15px;
  font-family: ts-unused;
}
.contact .contact_form::-moz-placeholder {
  opacity: 0.7;
}
.contact .contact_form::placeholder {
  opacity: 0.7;
}
.contact .consent {
  margin: 15px 0 35px;
  text-align: center;
  line-height: 2;
  font-size: 0.9375rem;
}
.contact .consent_text {
  display: block;
  width: 80%;
  margin: 0 auto 60px;
  background-color: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 1.5em 0;
}
.contact .contact_submit {
  color: #000;
  width: 100%;
  border: 1px solid #eee;
  background-color: #eee;
  padding: 20px 0;
  font-size: 1.5rem;
  transition: 0.3s;
}
.contact .contact_submit:hover {
  background-color: #ddd;
}
.contact .tel_contact {
  margin: 80px 0;
  text-align: center;
}
.contact .tel_contact .tel {
  font-size: 2rem;
}
.contact .tel_contact .tel span {
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin-right: 5px;
}

/*-------------------
環境
---------------------*/
.explanation_wrap {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  width: 90%;
  margin: 0 auto 100px;
  border-radius: 30px;
  padding: 100px 0;
}
.explanation_wrap .explanation_inner {
  width: 45%;
  margin: 0 auto;
}
.explanation_wrap .explanation_inner .explanation_title {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 300;
  margin-bottom: 60px;
}
.explanation_wrap .explanation_inner .explanation_text {
  line-height: 2;
}
.explanation_wrap .item_wrap {
  margin: 150px auto 0;
}

.under_wrap {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  width: 90%;
  margin: 0 auto;
  border-radius: 30px;
  padding: 50px 0;
}
.under_wrap .under_title {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}
.under_wrap .under_list {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}
.under_wrap .under_list li {
  width: calc(25% - 30px);
}
.under_wrap .under_list li .under_item {
  display: block;
}
.under_wrap .under_list li .under_item:hover {
  opacity: 0.5;
}
.under_wrap .under_list li .under_item .under_item_title {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 20px;
}
.under_wrap .under_list li .under_item .under_item_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.item_wrap {
  width: 85%;
}
.item_wrap .item_list {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item_wrap .item_list li {
  width: calc(33.3333333333% - 30px);
  margin-bottom: 70px;
}
.item_wrap .item_list li .item_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}
.item_wrap .item_list li .item_txt {
  font-size: 1.25rem;
  margin-top: 20px;
}
.item_wrap .item_list .item_bottom {
  position: relative;
  top: 90px;
}
.item_wrap .item_list .item_top {
  position: relative;
  top: -90px;
}

/*-------------------
タブレット
---------------------*/
@media screen and (max-width: 1020px) {
  .explanation_wrap .explanation_inner {
    width: 60%;
  }
  .contact {
    width: 70%;
  }
  .contact .text_wrap {
    flex-direction: column;
  }
  .contact .text_wrap {
    flex-direction: column;
  }
  .contact .text_wrap .contact_sub_text {
    font-size: 0.8125rem;
  }
  .contact .radio_wrapper .radio_label {
    padding: 10px 10px 10px 40px;
  }
  .contact .tel_contact .contact_text {
    font-size: 1rem;
  }
  .contact .tel_contact .tel {
    font-size: 1rem;
  }
  .contact .tel_contact .tel span {
    font-size: 1rem;
  }
  .business .business_right .calendar_wrap .month .year_month {
    font-size: 1.5rem;
  }
}
/*-------------------
スマホ
---------------------*/
@media screen and (max-width: 768px) {
  .page_visual {
    height: 100vh;
  }
  .page_visual .visual_title {
    font-size: 1.5rem;
  }
  .explanation_wrap .explanation_inner {
    width: 85%;
  }
  .explanation_wrap .explanation_inner .explanation_title {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  .under_wrap .under_title {
    font-size: 1.25rem;
  }
  .under_wrap .under_list {
    flex-wrap: wrap;
  }
  .under_wrap .under_list li {
    margin-bottom: 20px;
    width: calc(50% - 0.5em);
  }
  .under_wrap .under_list li .under_item .under_item_title {
    font-size: 1rem;
  }
  .facility_wrap .facility {
    font-size: 1.25rem;
  }
  .facility_wrap .spring_list .spring_title {
    width: 100%;
    border-bottom: 0;
    padding-bottom: 10px;
  }
  .facility_wrap .spring_list .spring_text {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
  }
  .sec_wrap.massage_wrap .massage_inner .sec_text_wrap {
    margin-left: 0;
  }
  .item_wrap {
    margin: 100px auto 0;
  }
  .item_wrap .item_list {
    flex-direction: column;
  }
  .item_wrap .item_list .item_bottom,
.item_wrap .item_list .item_center,
.item_wrap .item_list .item_top {
    position: static;
  }
  .item_wrap .item_list li {
    width: 80%;
    margin-bottom: 20px;
  }
  .item_wrap .item_list li:nth-child(2n) {
    margin-left: 20%;
  }
  .item_wrap .item_list li .item_img {
    height: auto;
  }
  .item_wrap .item_list li .item_txt {
    font-size: 1rem;
    margin-top: 10px;
  }
  .menu .menu_accordion {
    padding: 10px;
  }
  .menu .menu_accordion .menu_accordion_txt {
    font-size: 1rem;
  }
  .menu .menu_accordion .menu_accordion_btn {
    width: 30px;
    height: 30px;
  }
  .menu .menu_accordion .menu_accordion_btn::before {
    width: 15px;
  }
  .menu .menu_accordion .menu_accordion_btn::after {
    width: 15px;
    left: 7px;
  }
  .menu .menu_wrap {
    padding: 15px;
  }
  .menu .menu_wrap .menu_inner {
    flex-direction: column;
  }
  .menu .menu_wrap .menu_inner .menu_list_wrap {
    width: 100%;
    margin-bottom: 20px;
  }
  .menu .menu_wrap .menu_inner .menu_list_wrap .menu_list {
    font-size: 1rem;
  }
  .menu .menu_wrap .menu_remarks {
    line-height: 2;
  }
  .massage_wrap .massage_inner {
    flex-direction: column;
    width: 100%;
  }
  .recruit {
    width: 90%;
    padding: 80px 40px;
  }
  .recruit .recruit_title {
    font-size: 1.75rem;
    margin-bottom: 50px;
  }
  .recruit .instructor_wrap .instructor_ttl {
    font-size: 1rem;
    margin-bottom: 50px;
  }
  .recruit .instructor_wrap .instructor_txt {
    font-size: 0.75rem;
  }
  .recruit .application_method .method_title {
    font-size: 1.25rem;
  }
  .recruit .application_method .method_text {
    text-align: left;
  }
  .contact {
    width: 90%;
    padding: 50px 30px;
  }
  .contact .contact_title {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  .contact .radio_wrapper {
    flex-direction: column;
  }
  .contact .radio_wrapper .radio_label {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .contact .consent {
    font-size: 0.75rem;
    text-align: left;
  }
  .contact .consent_text {
    width: 100%;
    font-size: 0.75rem;
    margin-bottom: 30px;
  }
  .contact .contact_submit {
    font-size: 1rem;
  }
  .contact .tel_contact .contact_text {
    font-size: 1rem;
  }
  .guidance_top .guidance_title {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  .guidance_bg {
    width: 95%;
    padding: 80px 30px 30px;
  }
  .business {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .business .business_left {
    width: 100%;
    margin-bottom: 80px;
  }
  .business .business_left .section_title {
    font-size: 1.25rem;
  }
  .business .business_left .business_place {
    margin-top: 30px;
    font-size: 1rem;
  }
  .business .business_left .business_hours {
    font-size: 0.75rem;
  }
  .business .business_right {
    width: 100%;
  }
  .business .business_right .calendar_wrap .month {
    width: 70%;
  }
  .business .business_right .calendar_wrap .month .fas {
    font-size: 1.75rem;
  }
  .business .business_right .calendar_wrap .weekdays thead tr .week {
    font-size: 0.75rem;
  }
  .business .business_right .calendar_wrap .weekdays .day {
    height: 3em;
    padding: 0.3em;
  }
  .section_title {
    font-size: 1.25rem;
  }
  .price_wrap {
    margin-bottom: 150px;
  }
  .price_wrap .price_table.pc {
    display: none;
  }
  .price_wrap .price_table.sp {
    display: table;
  }
  .price_wrap .price_table.sp tbody .price_head th {
    font-weight: 300;
    text-align: center;
  }
  .price_wrap .price_table.sp tbody .price_head th .age {
    font-size: 0.75rem;
  }
  .price_wrap .price_table.sp tbody .price_body .day {
    font-size: 0.75rem;
    width: 10%;
  }
  .price_wrap .price_table.sp tbody .price_body .price {
    font-size: 1rem;
  }
  .price_wrap .price_table.sp tr {
    padding: 10px;
    border-bottom: 1px solid #6BBFBD;
  }
  .access_wrap {
    margin-bottom: 0;
  }
  .access_wrap iframe {
    height: 200px;
  }
  .access_wrap .access_info_wrap {
    flex-direction: column;
  }
  .access_wrap .access_info_wrap .access_info_inner {
    width: 100%;
    margin-bottom: 20px;
  }
  .access_wrap .access_info_wrap .access_info_inner .access_guide_ttl {
    font-size: 1rem;
  }
  .sec_meal_wrap .item_wrap {
    padding-top: 0;
  }
  .sec_meal_wrap .sec_meal_inner {
    flex-direction: column;
  }
  .sec_meal_wrap:nth-child(even) .sec_meal_inner {
    flex-direction: column;
  }
  .facility_wrap {
    padding: 50px 30px;
  }
}
/*# sourceMappingURL=page.css.map */